.technologies {
  background: darken($color-gallery, 3%);
  padding: 80px 0;
}

.technologies__heading {
  margin: 0 auto 3rem;
  text-align: center;
}

.card__items {
  margin: 0 auto;
  width: 90%;

  @include breakpoint($bp-md) {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
  }
}

.card__item {
  padding: 4rem 3rem;
  flex: 0 0 50%;
}

.card__content {
  color: $color-tundora;
  position: relative;
  z-index: $zi-medium;
}

.card__icon-wrapper {
  margin: 0 auto 3rem;
}

.card__icon {
  fill: $color-tundora;
  width: 60px;
  height: 60px;
  margin: 0 25px;
}
