.card__items {
  margin: -50px auto 60px;
  width: 90%;

  @include breakpoint($bp-md) {
    box-shadow: 0 28px 80px -7px rgba(0, 0, 0, 0.35);
    display: flex;
    margin: -60px auto 60px;
    width: 960px;
  }
}

.card__item {
  position: relative;
  padding: 4rem 2rem;
  flex: 0 0 33.333333%;

  &.card__item--blue {
    @include opacity-overlay(0.9, $color-blue);
    background: url('../../dist/assets/computers-small.jpg');
    background-size: cover;
  }

  &.card__item--orange {
    @include opacity-overlay(0.9, $color-orange);
    background: url('../../dist/assets/computers-small.jpg');
    background-size: cover;
    border-top: 1px solid $color-gallery;
    border-bottom: 1px solid $color-gallery;

    @include breakpoint($bp-md) {
      border: 1px solid $color-gallery;
      border-top: 0;
      border-bottom: 0;
    }
  }

  &.card__item--gray {
    @include opacity-overlay(0.9, $color-green);
    background: url('../../dist/assets/computers-small.jpg');
    background-size: cover;
  }
}

.card__content {
  color: $color-white;
  position: relative;
  z-index: $zi-medium;
}

.card__icon-wrapper {
  margin: 0 auto;
  text-align: center;
}

.card__icon {
  fill: $color-white;
  width: 60px;
  height: 60px;
}
