h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-tertiary;
  font-weight: 300;
  letter-spacing: 0.05rem;
  margin: 0 0 1rem;
  line-height: 1.2;
}

h1 {
  font-size: 4rem;

  @include breakpoint($bp-xsm) {
    font-size: 4.5rem;
  }

  @include breakpoint($bp-md) {
    font-size: 5rem;
  }
}

h2 {
  font-size: 3rem;

  @include breakpoint($bp-sm) {
    font-size: 4rem;
  }
}

h3 {
  font-size: 2.4rem;

  @include breakpoint($bp-xsm) {
    font-size: 2.8rem;
  }
}
