.hero {
  background: #292b2c;
  background-image: linear-gradient(to bottom,rgba(255,255,255,.15)0,transparent 50%);
  background-repeat: repeat-x;
  padding: 6rem 0 15rem;
}

.hero__cards {
  position: absolute;
}

.hero__text {
  color: $color-white;
  width: 90%;
}

.hero__heading {
  font-family: $font-tertiary;
  font-weight: 300;
  font-size: 3.5rem;
  letter-spacing: 0.05rem;
  margin-bottom: 1rem;

  span {
    font-size: 4rem;
    display: block;
  }

  @include breakpoint($bp-sm) {
    font-size: 4rem;
  }

  @include breakpoint($bp-md) {
    font-size: 6rem;
  }
}

.hero__subheading {
  font-size: 2.5rem;
  font-family: $font-primary;
}

.hero__cta {
  margin-top: 1rem;

  @media screen and(max-width: $bp-xsm) {
    .button {
      padding: 0;
      background: transparent;
      color: $color-white;
      text-decoration: underline;
    }
  }

  @include breakpoint($bp-xsm) {
    margin-top: 3rem;
  }

  @include breakpoint($bp-sm) {
    margin-top: 6rem;
  }
}
