.hero {
  @include divider-border;
  background: $color-mine-shaft;
  position: relative;
  height: 100vh;

  &.content-container {
    padding-top: 2rem;
  }
}

.hero__text {
  @include vertical-align(absolute);
  text-align: center;
  width: 100%;
}

.hero__heading {
  font-family: $font-tertiary;
  margin-bottom: 2rem;
  color: $color-alto;

  span {
    font-size: 2rem;
    display: block;
    font-weight: 300;
    margin-bottom: 2rem;

    @include breakpoint($bp-sm) {
      font-size: 2.5rem;
    }
  }
}

.hero__subheading {
  margin-bottom: 4rem;
  color: $color-alto;
}

.hero__logo {
  width: calc(70px + 2rem);
  height: calc(70px + 2rem);
  margin: 0 auto;
  background: transparent;
  text-align: center;
  border-radius: 50%;
  border: 1px solid $color-gray-nevada;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .hero__icon {
    fill: $color-gray-nevada;
    width: 6rem;
    height: auto;
  }
}
