.hero {
  background: $color-blue;
  padding: 6rem 0 15rem;
  border-top: 5px solid darken($color-blue, 10%);
}

.hero__cards {
  position: absolute;
}

.hero__text {
  color: $color-white;
  width: 90%;
}

.hero__heading {
  font-family: $font-tertiary;
  font-weight: 700;
  font-size: 3.5rem;
  letter-spacing: 0.05rem;
  margin-bottom: 1rem;

  span {
    font-size: 2rem;
    display: block;
    font-weight: 300;

    @include breakpoint($bp-sm) {
      font-size: 2.5rem;
    }
  }

  @include breakpoint($bp-sm) {
    font-size: 4rem;
  }

  @include breakpoint($bp-md) {
    font-size: 6rem;
  }
}

.hero__subheading {
  font-size: 2rem;
  font-family: $font-primary;
  font-style: italic;

  @include breakpoint($bp-sm) {
    font-size: 2.5rem;
  }
}

.hero__cta {
  margin-top: 1rem;

  @media screen and(max-width: $bp-xsm) {
    .button {
      padding: 0;
      background: transparent;
      color: $color-white;
      text-decoration: underline;
    }
  }

  @include breakpoint($bp-xsm) {
    margin-top: 3rem;
  }

  @include breakpoint($bp-sm) {
    margin-top: 6rem;
  }
}
