.course-intro {
  background: $color-white;
  padding: 3rem 2rem;
  margin: -2rem 20px 5rem;
  border: 1x solid $color-silver;

  @include breakpoint($bp-sm) {
    margin: -3rem 20px 6rem;
    padding: 4rem 3rem;
  }

  @include breakpoint($bp-md) {
    width: 90%;
    max-width: 1024px;
    margin: -5rem auto 10rem;
    padding: 6rem 5rem;
  }
}

.course-intro__heading {
  text-align: center;
  margin-bottom: 2rem;
}

.course-intro__intro {
  line-height: 1.8;
  font-size: 2rem;

  p {
    margin-bottom: 2rem;
  }
}
