.course-intro {
  position: relative;
  z-index: $zi-low;
  background: $color-white;
  padding: 3rem 2rem;
  margin: -4rem 20px 5rem;
  border: 1px solid $color-alto;

  @include breakpoint($bp-sm) {
    margin: -4rem 20px 6rem;
    padding: 4rem 3rem;
  }

  @include breakpoint($bp-md) {
    width: 90%;
    max-width: 1024px;
    margin: -5rem auto 10rem;
    padding: 6rem 5rem;
  }
}

.course-intro__logo {
  width: calc(80px + 3rem);
  height: calc(80px + 3rem);
  margin: -8.5rem auto 5rem;
  background: lighten($color-gallery, 5%);
  border: 1px solid $color-gallery;
  text-align: center;
  border-radius: 50%;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @include breakpoint($bp-sm) {
    width: calc(100px + 4rem);
    height: calc(100px + 4rem);
    margin: -11rem auto 5rem;
    padding: 2rem;
  }

  @include breakpoint($bp-md) {
    margin: -13rem auto 5rem;
  }

  svg {
    fill: $color-blue;
  }
}

.course-intro__heading {
  text-align: center;
  margin-bottom: 2rem;
}

.course-intro__intro {
  line-height: 1.8;
  font-size: 2rem;

  p {
    margin-bottom: 2rem;
  }
}
