.outline {
  // margin-bottom: 8rem;
  // padding-top: 6rem;
}

.outline__heading {
  text-align: center;
  margin-bottom: 1rem;
}

.outline p {
  margin-bottom: 2rem;
}

.accordion dl,
.accordion-list {
 border: 1px solid $color-alto;

 &:after {
  content: '';
  display: block;
  height: 1em;
  width: 100%;
  background-color: $color-gallery;
  }
}

.accordion dd,
.accordion__panel {
  font-size: 1em;
  line-height: 1.5em;
}

.accordion p {
  padding: 1em 2em 1em 0;
}

.accordion {
  position: relative;
  background-color: $color-light-gray;
}

.accordionTitle,
.accordion__Heading {
  background-color: $color-gallery;
  font-weight: 300;
  padding: 1.8rem 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color:  $color-tundora;
  transition: background-color 0.5s ease-in-out;
  border-bottom: 1px solid darken($color-gallery, 5%);
  font-size: 2rem;

  @include breakpoint($bp-sm) {
    padding: 2em;
  }

  &:before {
    content:  "+";
    font-size: 1.5em;
    font-weight: 300;
    line-height: 0.5em;
    margin-right: 1rem;
    transition:  transform 0.3s ease-in-out;

    @include breakpoint($bp-sm) {
      margin-right: 2rem;
    }
  }

  &:hover {
    background-color: darken($color-gallery, 4%);
  }
}

.accordionTitleActive,
.accordionTitle.is-expanded {
  background-color: darken($color-gallery, 4%);

  &:before {
    transform: rotate(-225deg);
  }
}

.accordionItem {
  height: auto;
  overflow: hidden;
  //SHAME:  magic number to allow the accordion to animate

  max-height: 50em;
  transition: max-height 1s;

  @include breakpoint($bp-sm) {
    max-height: 15em;
    transition: max-height 0.5s;
  }
}

.accordionItem.is-collapsed {
  max-height: 0;
}

.no-js .accordionItem.is-collapsed {
  max-height: auto;
}

.animateIn {
  animation: accordionIn 0.45s normal ease-in-out both 1;
}

.animateOut {
  animation: accordionOut 0.45s alternate ease-in-out both 1;
}

@keyframes accordionIn {
  0% {
    opacity: 0;
    transform: scale(0.9) rotateX(-60deg);
    transform-origin:  50% 0;
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes accordionOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.9) rotateX(-60deg);
  }
}

.outline__list,
ul {
  margin: 3rem 0;
  list-style: initial;

  li {
    list-style-type: circle;
  }
}
