.workshop-why {
  position: relative;
}

.workshop-why__info {
  @include opacity-overlay(0.9, darken($color-blue, 25%));
  position: relative;
  line-height: 0.8;
  min-height: 800px;
  overflow: hidden;

  @include breakpoint($bp-xsm) {
    min-height: 600px;
  }

  @include breakpoint($bp-sm) {
    min-height: inherit;
  }
}

.workshop-why__text {
  position: absolute;
  top: 4rem;
  width: 90%;
  left: 5%;
  color: $color-white;
  z-index: $zi-low;
  line-height: 1.8;

  &.content-container {
    margin: 0;
  }

  @include breakpoint($bp-xxsm) {
    @include vertical-align(absolute);
    // top: 6%;
  }

  @include breakpoint($bp-sm) {
    @include horizontal-align(absolute);
    top: 10%;
  }

  // @include breakpoint($bp-md) {
  //   @include horizontal-align(absolute);
  //   top: 15%;
  // }

  @include breakpoint($bp-lg) {
    @include horizontal-align(absolute);
    top: 25%;
  }
  p {
    font-size: 2rem;
  }
}

.workshop-why__text--inner {

  @include breakpoint($bp-sm) {
    display: flex;
  }
}

.text-only {
  @include breakpoint($bp-sm) {
    padding-right: 6rem;
  }
}

.icon-only {
  display: none;

  @include breakpoint($bp-sm) {
    display: flex;
    align-items: center;
  }
}

.description__icon {
  fill: $color-white;

  @include breakpoint($bp-sm) {
    height: 120px;
    width: auto;
    margin-left: auto;
  }
}
