// Primary
$color-blue: #009ED6;
$color-orange: #ED8931;
$color-green: #65BA69;

// Functional variables
$color-primary: $color-blue;
$color-secondary: $color-orange;
$color-tertiary: $color-green;

// Black/White & Grays
$color-white: #FFFFFF;
$color-black: #000000;
$color-mine-shaft: #222222;
$color-tundora: #464646;
$color-gray-nevada: #697176;
$color-silver: #BBBBBB;
$color-alto: #DDDDDD;
$color-gallery: #EEEEEE;
$color-light-gray: #F9F9F9;
$color-alabaster: #D8DDD4;

$color-twitter: #1DA1F3;
$color-facebook: #3B5998;
$color-youtube: #E32E28;
$color-linkedin: #0077B5;
