// Primary
$color-blue: #009ED6;
$color-orange: #ED8931;
$color-green: #65BA69;

// Functional variables
$color-primary: $color-blue;
$color-secondary: $color-orange;
$color-tertiary: $color-green;

// Black/White & Grays
$color-white: #FFFFFF;
$color-black: #000000;
$color-mine-shaft: #222222;
$color-tundora: #464646;
$color-silver: #BBBBBB;
$color-alto: #DDDDDD;
$color-gallery: #EEEEEE;
$color-alabaster: #D8DDD4;
